<!DOCTYPE html>
<html>

<head>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>    
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<title>{% block title %}{% endblock %} WE Don't
	 Starve</title>
<style>
#footer {
	background-color:black;
	height:100px;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;

}
</style>
</head>
<body>

	<main>

		<nav class="navbar navbar-inverse">
   <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GAME INFO<span class="caret"></span></a><ul class="dropdown-menu">
        	

            <li role="separator" class="divider"></li>
            <li><a href="/Characters">Characters</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/monster">Monster</a></li>
            <li role="separator" class="divider"></li>

          </ul>
      </li>
        <li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gaming Platform<span class="caret"></span></a><ul class="dropdown-menu">
           


            <li><a href="https://www.klei.com/games/dont-starve/gallery">Steam</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://www.wegame.com/store/game_detail/2000039?top_class=3&nav_type=2&from=store_filter.game_list&unionsite=wegamesite%3A-%3Ajump%3A-&t=1543121593257">Wegame</a></li>

            
          </ul>
      </li>
        <li class="dropdown">
            <a href="/video" >Game video </a>


        </li>
      </ul>
    
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
      <ul class="nav navbar-nav navbar-right">

<li class="dropdown">
          <a href="/Development" >Development </a>

        </li>

        </li>

        <li class="dropdown">
          <a href="/login" >Log in </a>
          
        </li>

      </ul>
    </div>
  </div>
</nav>
	</main>
    <div class="container text-center">
        {% if session.is_login %}
            <h1><font color="white">{{ session.name }} Welcome back！</h1>
        {% else %}
            <h1><font color="white">Please log in first！</h1>
        {% endif %}
     </div>
	{% block container %}{% endblock %}
	<div id="footer">
A YOUNG WEBPAGE~~~<br>
<button type="button" class="btn btn-default">FOLLOW ME</button></div>
</body>
</html>

