<!DOCTYPE html>
<html>
<head>
<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>


<body>

{% extends "base_pro.html" %}
{% block title %} Characters —— {% endblock %}
{% block container%}






<body background="../static/characters background.png"; background-repeat:no-repeat;
background-size:cover ;>
<body background-size:cover></body>
</body>
<div class="jumbotron" style="background-color: black">
  <div class="container" >
  <h1><font color="white"> Don't Starve! </font></h1>
  <p><font color="gray">
    <h3>GAME INTRODUCTION:</h3></br>
   <h4> Don't Starve is an open world survival video game developed by the Canadian indie company Klei Entertainment. The game was initially released via Valve Corporation's Steam software for Microsoft Windows, OS X, and Linux on April 23, 2013. A PlayStation 4 port, renamed Don't Starve: Giant Edition, became available the following year (with PlayStation Vita and PlayStation 3 versions released on September 2014 and June 2015 respectively, and an Xbox One version released in August 2015). Don't Starve for iOS, renamed Don't Starve: Pocket Edition was released on July 9, 2015. Android version was released on October 20, 2016. </h4></font></p>
  <p><a class="btn btn-primary btn-lg" href="/monster" role="button">Learn more</a></p>
</div>

</div><p></p><hr />

<h1 id="title1"><font color="white">Characters:</font></h1>
<blockquote class="blockquote-reverse">
  <p><font color="white">“Freedom, at last!”&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></p>
  <footer><font color="white">Someone famous in</font> <cite title="Source Title"><font color="red">Maxwell</font></cite></footer>
</blockquote>
<h4 id="zt"><font color="orange">
  &nbsp;&nbsp;&nbsp;&nbsp;There is currently a combined total of sixteen playable Characters in Don't Starve, its DLCs and Don't Starve Together. Each Character has at least one character-specific perk, in addition to various bonuses and penalties to their stats, and usually are different in play style. Each Character is "voiced" by a different instrument, and speaks differently when examining items and objects. The only exception to this is Wes, the speechless mime, who does not make sounds or have quotes, instead he uses pantomimes.</br></br></br>
  &nbsp;&nbsp;&nbsp;&nbsp;The first accessible Character is Wilson, considered the protagonist and the focus of the game's story. Most of the other Characters can be unlocked when sufficient Experience has been accrued, gained at Death or when escaping to a new world. There are currently five exception Characters that are not gained by conventional experience, but through game feats. If the player has not unlocked a Character, it will appear as their respective silhouettes. Upon selecting a silhouette, the Poster on the left will be a coffin shut with chains and a lock, and the description will simply say "The Unknown".
</font></h4>

<p></p><hr />
<div class="row">
  <div class="col-md-4 col-md-4" id="picture" >
    <div class="thumbnail"  style="background-image: url(../static/characters.jpg);">
      <img src="../static/wilson.png"   }><br>
      <div class="row" style="text-align: center;">
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." style=" background-color: black"><font color="white">
  Wilson</font>
</button></div>
      <div class="caption">
      <p style="text-align:center"><font color="white">Grows a magnificent beard.</font></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/willow.png"  img{width:100%; height:100%;} ><br>
      <div class="row" style="text-align: center;">
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." style="background-color: black"><font color="white">
  Willow</font>
</button></div>
      <div class="caption">
        
      <p style="text-align:center"> <font color="white">Immune to Fire damage. Has a sweet Lighter. Lights fires when nervous.</font></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/wolfgang.png"   img{width:100%; height:100%;}><br>
      <div class="row" style="text-align: center;">
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." style="background-color: black"><font color="white">
  Wolfgang</font>
  
</button></div>
      <div class="caption">
        
      <p style="text-align:center"><font color="white">Grows stronger with a full belly. Is afraid of monsters and the dark.</font></p>
      </div>
    </div>
  </div>
</div>
    <div class="row">
    <div class="col-md-4 col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
        <img src="../static/wes.png"><br><div class="row" style="text-align: center;">
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." style="background-color: black" ><font color="white">
  Wes</font>
</button></div>
       
        <p style="text-align:center"><font color="white">Can't talk. Has trouble staying alive. Practices balloonomancy.</font></p>
      </div>
    </div>
    <div class="col-md-4 col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/wx-78.png"  class="image" img{width:100%; height:100%;} >
      <br><div class="row" style="text-align: center;">
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." style="background-color: black" ><font color="white"> 
  WX-78</font>
</button></div>
      <div class="caption">
       
      <p style="text-align:center"><font color="white">Not a picky eater. Is charged by lightning, but damaged by water. Can upgrade with gears.</font></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/wickerbottom.png"   class="image" img{width:100%; height:100%;><br>
      <div class="row" style="text-align: center;">
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."  style="background-color: black" ><font color="white">
 Wickerbottom</font>
</button></div>
      <div class="caption">
       
      <p style="text-align:center"><font color="white">Knows many things. Self-publishes books. Can't sleep, hates food spoilage.</font></p>
      </div>
    </div>
  </div>
    </div>
    <div class="row">
  <div class="col-md-4 col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/woodie.png"   class="image"><br>
      <div class="row" style="text-align: center;">
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." style="background-color: black" ><font color="white">
  Woodie</font>
</button></div>
      <div class="caption">
       
      <p style="text-align:center"><font color="white">Has a lovely axe. And a terrible secret. Is thankful for bountiful harvests.</font></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/wendy.png"   class="image"><br>
      <div class="row" style="text-align: center;">
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."   style="background-color: black" ><font color="white">
  Wendy</font>
</button></div>
      <div class="caption">
        
      <p style="text-align:center"><font color="white">Is haunted by her twin sister. Feels comfortable in the dark. Doesn't hit very hard.</font></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/maxwell.png"  class="image"><br>
      <div class="row" style="text-align: center;">
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."  style="background-color: black" ><font color="white">
 Maxwell</font>
</button></div>
       
      <p style="text-align:center"><font color="white">Is dapper, but frail. Can split his mind into pieces. On a first-name basis with the night.</font></p>
    </div>
  </div>
</div>

<!--<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>-->
<!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
<!--<p></p><hr />-->

<div class="row" style="width:100px; margin:0 auto; text-align:center;">
<div style="borron-align: center;" class="btn-group" role="group" aria-label="..."><br><br><br><br><br><br>
  <button  type="button" class="btn btn-default">1</button>
  <button  type="button" class="btn btn-default">2</button>

  
 </div>

</div>


{% endblock %}
</body>
</html>
