<!DOCTYPE html>
<html>
<head>


</head>

<div  style="background-color: black">
{% extends "base_pro.html" %}
{% block title %} Monster —— {% endblock %}
{% block container%}
   <p></p><hr/>
<br background="black">
</br></br></br>
<h1>Abigail</h1><br><div  style=" float:left; "><img src="../static/11.png"  /></div></br></br></br></br></br></br></br>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Abigail is the Ghost of Wendy's dead twin sister. She can be summoned with Abigail's Flower, Wendy's exclusive starting item. Abigail will defend herself and Wendy against attacking Mobs, and will attack anything that Wendy attacks (even if Wendy cancels the attack).

Abigail will despawn into her flower if she loses all of her health. Abigail does more damage during dusk, and significantly more damage during night. She has 600 Health, and when damaged she slowly regenerates at a rate of 1 HealthMeter per second. When her hit points are low, she will have a sad look. She can be healed using healing items, such as Healing Salves, Spider Glands or Honey Poultices.

Summoning Abigail costs 50 Sanity.

    Abigail cannot be frozen by the Ice Staff, and she cannot help the player fight Shadow Creatures or Ghosts. Abigail's kills do not count as the player's kills, as such, they do not increase the player's Naughtiness level.</h4></br></br></br></br>
</br></br></br>
<h1>Ancient Guardian
 </h1><br><div  style=" float:left; "><img src="../static/22.png"  /></div></br></br></br></br></br></br>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Ancient Guardian is a Boss Monster found within the Labyrinth region of the Ruins. It looks and acts similar to a Clockwork Rook, but appears as a living creature covered in fur.

The Ancient Guardian drops 8 Meat, a Guardian's Horn and a large Ornate Chest will spawn where it was killed. This chest will contain various loot.
</h4>
</br></br></br>
    <h1>Bee</h1><br><div  style=" float:left; "><img src="../static/33.png"  /></div></br></br></br></br></br></br>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bees are neutral Mobs that spawn from Beehives and Bee Boxes. While their aggressive variant - the Killer Bee - is charged with the protection of the nest, the primary function of these normally docile creatures is Honey production. If provoked however, they do join fights to defend the hive.

When killed, they drop either 1 Honey or Stinger and increase the player's naughtiness by 1 point. </h4>

</br></br></br>
        <h1>Butterfly</h1><br><div  style=" float:left; "><img src="../static/44.png"  /></div></br></br></br></br></br></br>
   <h4> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Butterfly is a passive Mob commonly found in Grassland biomes. They spawn from Flowers (including Evil Flowers) and will slowly fly around, often landing on other Flowers. At dusk, they always land on a Flower to despawn. Butterflies do not spawn during Winter.</br></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When killed, Butterflies drop Butterfly Wings (98% chance) or Butter (2% chance). Butterfly Wings can be eaten to restore Health, or used in a Crock Pot to cook Butter Muffins. As inventory items, they can be used to plant Flowers, which can spawn additional Butterflies or improve the production of Honey in Bee Boxes.

Butterflies are considered innocent creatures and killing one adds 1 point to the player's naughtiness level. Catching Butterflies with a Bug Net will not affect naughtiness.</br></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A Butterfly spawns once about every 15 seconds from a flower located between 6 units and 25 units away from the player. It will not spawn if there are 4 Butterflies within 64 units of the player.</h4>
</br></br></br>
        <h1>Beefalo</h1><br><div  style=" float:left; "><img src="../static/55.png"  /></div></br></br></br></br></br></br>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beefalo are neutral Mobs that are indigenous to the Savanna biome unless their world generation setting is changed to "more". When one Beefalo is attacked, all nearby Beefalo will become hostile. Beefalo deal 34 damage with each hit. They drop three Beefalo Wool, four Meat, and a Beefalo Horn 33% of the time when killed, and they drop wool even if they have been shaved already. They are considered innocent creatures and killing one adds 4 points to the player's naughtiness level, which can cause Krampus to appear.</h4>
</br></br></br></br></br></br>
        <h1>Birds</h1><br><div  style=" float:left; "><img src="../static/66.png"  /></div></br></br></br></br></br></br>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Birds are passive Mobs in Don't Starve. There are 3 kinds of birds in Don't Starve and in the Reign of Giants (RoG) DLC: Crows, Redbirds, and Snowbirds. There are 5 kinds of birds exclusive to the Shipwrecked (SW) DLC: Toucans, Seagulls, Parrots, Parrot Pirates and Cormorants. The Canary is a bird exclusive to Don't Starve Together (DST). In The Gorge event for DST, there is the Pigeon.

They can be found in every biome during the Day and Dusk. They fly down from off-screen and peck the ground for a few moments, then fly away. When they take flight, there is a chance that Seeds are left behind, unless it's Winter. Birds will also be attracted to Seeds left on the ground. If the player or most other mobs get too close, birds will be frightened away.</br></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When killed, birds drop a Morsel or a Feather, and all other birds nearby will fly away. They are considered innocent creatures and killing them directly adds points to the player's naughtiness level, which causes Krampus to appear. Killing a Crow adds 1 point to the player's naughtiness level, while killing a Redbird or Snowbird adds 2 points to the player's naughtiness level.</h4>
</br></br></br>
        <h1>Chester</h1><br><div  style=" float:left; "><img src="../static/77.jpg"  /></div></br></br></br></br></br></br>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chester (short for Otto von Chesterfield, Esquire) is a unique passive Mob that acts as a mobile Chest. By clicking on Chester, the player can store up to nine (9) items inside him.

Chester will first spawn after the Eye Bone is placed in the player's inventory. He will then follow the Eye Bone from that point on. As long as the Eye Bone is in the player's possession, Chester will follow the player. If the Eye Bone is dropped on the ground or stored somewhere (even inside Chester himself), he will stop following the player and remain with the Eye Bone.
</h4>










</body>
{% endblock %}
 </div>

</html>