<!DOCTYPE html>
<html>
<head>
       

</head>

<div  style="background-color: black">
{% extends "base_pro.html" %}
{% block title %} Video —— {% endblock %}
{% block container%}
   <p></p><hr/>
<body background="black">
    <div class="row" >
  <div class="col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/4.PNG" alt="...">
      <div class="caption">
        <h4 style="text-align: center;"><font color="white">Don't Starve Together base tour 1000+ days.</font></h4>
<div style="text-align: center;">
        <p><a href="https://www.youtube.com/watch?v=kvo0iOtFGOs" class="btn btn-primary" role="button" >VIEW</a> </p>
</div>
      </div>
    </div>
  </div>

    <div class="col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/5.PNG" alt="...">
      <div class="caption">
        <h4 style="text-align: center;"><font color="white">Don't Starve Together - Boss Battles</font></h4>

       <div style="text-align: center;">
        <p><a href="https://www.youtube.com/watch?v=W8p84Re1rso" class="btn btn-primary" role="button" >VIEW</a> </p>
</div>
      </div>
    </div>
  </div>

    <div class="col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/6.PNG" alt="...">
      <div class="caption">
        <h4 style="text-align: center;"><font color="white">Playing skill</font></h4>

        <div style="text-align: center;">
        <p><a href="https://www.youtube.com/watch?v=-sbTdRl_B8M" class="btn btn-primary" role="button" >VIEW</a> </p>
</div>
      </div>
    </div>
  </div>
    </div>

<div class="row">
    <div class="col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/7.PNG" alt="...">
      <div class="caption">
        <h4 style="text-align: center;"><font color="white">Гайд по Don't Starve #5 Персонажи</font></h4>

        <div style="text-align: center;">
        <p><a href="https://www.youtube.com/watch?v=UlmcHfaZ9X0" class="btn btn-primary" role="button" >VIEW</a> </p>
</div>
      </div>
    </div>
  </div>

    <div class="col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/8.PNG" alt="...">
      <div class="caption">
        <h4 style="text-align: center;"><font color="white">Don't Starve - Ending</font></h4>

        <div style="text-align: center;">
        <p><a href="https://www.youtube.com/watch?v=YTcRPvR7r2U" class="btn btn-primary" role="button" >VIEW</a> </p>
</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail" style="background-image: url(../static/characters.jpg);">
      <img src="../static/9.PNG" alt="...">
      <div class="caption">
        <h3 style="text-align: center;"><font color="white">10 Mistakes YOU Make in Don't Starve!</font></h3>

        <div style="text-align: center;">
        <p><a href="https://www.youtube.com/watch?v=JP1dOiOh52U" class="btn btn-primary" role="button" >VIEW</a> </p>
</div>
      </div>
    </div>
  </div>
    </div>


</br></br></br></br></br></br></br>
</body>
{% endblock %}
 </div>

</html>
